body {
    font-family: 'Fjalla One', sans-serif; 
    size: 100%;
}

/* Add a black background color to the top navigation */
.indexNavbar {
    position: fixed;
    background-color: black;
    overflow: hidden;
    width: 100%;
    top: 0%;
    left: 0%;
}

/* Style the links inside the navigation bar */
.indexNavbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.indexNavbar a:hover {
    background-color: whitesmoke;
    color: black;
}

/* Add a color to the active/current link */
.indexNavbar a.active {
    background-color:black;
    color: whitesmoke;
}

.indexNavbar a.indexNavbarRight {
    float: right;
}

/* insert a background image to the first page and define the size of it */
#WelcomeSection {
    background: url(https://images.unsplash.com/photo-1512699142433-897666c9908f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b23a64618bdea77a844b1c4d32c9135a&auto=format&fit=crop&w=3068&q=80);
    background-repeat: no-repeat;
    background-position:center; 
    width: 100%;
    height: 100vh;
    left: 0%;
    right: 0%;
    padding-top: 0%;
}

#teaser {
    text-align: center;
    font-size: 40px;
}

.indexButton {
    font-family: 'Fjalla One', sans-serif;
    align-content: center;
    border-radius: 8px;
    width: 25%;
    height: 20%;
    display: inline-block;
    background: #FBFF12;
    border-color: #FBFF12;
}

.indexButton #headerButtons {
    font-size: 18px;
}

#buttons {
    text-align: center;
}

#productSection {
    background-color: #FBFF12;
    background-repeat: no-repeat;
    background-position:center; 
    width: 100%;
    height: 100vh;
    left: 0%;
    right: 0%;
    top: 0%;
    padding: 14px 16px;
    display: flex;
    align-items: center;
}

#aboutSection {
    background-color:black;
    background-repeat: no-repeat;
    background-position:center; 
    color: whitesmoke;
    width: 100%;
    height: 100vh;
    left: 0%;
    right: 0%;
    top: 0%;
    padding: 14px 16px;
}

h3 {
    font-size: 26px;
}