
/* ---------------------------------------- BODY STYLING START ---------------------------------------- */
body{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-weight: 300;
}
/* //////////////////////////////////////// BODY STYLING START //////////////////////////////////////// */
   


/* ---------------------------------------- NAVBAR STYLING START ---------------------------------------- */
nav{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .8s;
    z-index: 1;
}

nav.black{
    background: rgba(0, 0, 0, 0.8);
    height: 100px;
    padding: 10px 100px;
}

nav #sportifyLogo{
    cursor: pointer;
    padding: 22px 20px;
    height: 80px;
    float: left;
    color: #fff;
    font-size: 24px;
    transition: .8s;
}

nav.black #sportifyLogo{
    color: #fff;
}

nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .8s;
}

nav.black ul li a{
    color: #fff;
}

nav ul li a:focus {
    outline: none;
}

nav ul li a#registerBtn{
    background: mediumblue;
    color: #fff;
    border-radius: 3px;
    margin-right: 10px;
}

nav ul li a#loginBtn{
    background: #50ce5f;
    color: #fff;
    border-radius: 3px;
    margin-right: 10px;
}

nav ul li a#logoutBtn{
    background: #E2472F;
    color: #fff;
    border-radius: 3px;
    margin-right: 10px;
}
nav ul li a.inactive{
    background: #E2472F;
    color: #fff;
    border-radius: 3px;
    margin-right: 10px;
}


section.navMargin{
    width: 100%;
    height: 150px;
    background: #24C6DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */       
}

section.sec1{
    width: 100%;
    min-height: 100vh;
    height: min-content;
    background: #24C6DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

section.secBottom{
    width: 100%;
    height: 100px;
    background: #24C6DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */          
}

/* //////////////////////////////////////// NAVBAR STYLING END //////////////////////////////////////// */



/* ---------------------------------------- INDEX STYLING START ---------------------------------------- */

/* INDEX.HTML "HERO" SECTION */
.hero{
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white;
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://codetheweb.blog/assets/img/posts/full-image-hero/image.jpg');
    /* Makes sure that our background is large enough to cover the entire section*/
    background-size: cover;
    /* Positions the image so that it is in the center of the screen */
    background-position: center center;
    /* Stops the image from repeating/tiling. */
    background-repeat: no-repeat;
    /* Makes the background image stay in the same spot, even you scroll down the page. */
    background-attachment: fixed;
}

.hero h1 {
    /* Text styles */
    font-size: 5em;
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    
    /* Border styles */
    border: 3px solid white;
    border-radius: 20px;
}



/* --------------------------FULL SCREEN PICTURE SLIDE SHOW ----------------------------------*/
#slider, .wrap, .slideContent{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* avoid horizontal scroll bars */
    overflow-x: hidden;
}


.wrap{
    /* allows the wrap div to be adjusted away from its normal position */
    position: relative;
}

/* basic adjustments to all slides */
.slide{
    /* make sure that slides cover the whole screen */
    background-size: cover;
    background-position: center;
    /* are 100% visbale without distorition */
    background-repeat: no-repeat;
}

/* basic adjustments to slide content div */
.slideContent{
    display: flex;
    /* when resizing screen content adjusts vertically */
    flex-direction: column;
    /* align everything to the center */
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* centered text on slides */
.slideContent span{
    /* rem is a relative size related to the default font-size */
    font-size: 5rem;
    color: white;
}

/* pure css arrows */
.arrow{
    /* make the cursor a pointer */
    cursor: pointer;
    /* make the position of the arrow permanent */
    position: absolute;
    /* bring the curser down to the middle */
    top: 50%;
    /* bring it up a little further with a negativ margin top */
    margin-top: -35px;
    /* we only work with the border to get the arrow so we dont need width and height */
    width: 0;
    height: 0;
    border-style: solid;
}

/* styling the left arrow */
#leftArrow{
    /* styling the arrow with border width from top-right-bottom-left */
    border-width: 30px 40px 30px 0;
    /* make everything transparent except for the right */
    border-color: transparent #fff transparent transparent;
    left: 0;
    margin-left: 30px;
}

#rightArrow{
    /* styling the arrow with border width from top-right-bottom-left */
    border-width: 30px 0 30px 40px;
    /* make everything transparent except for the left */
    border-color: transparent transparent transparent  #fff;
    right: 0;
    margin-right: 30px;
}

.slide1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(../img/training.jpg);
}

.slide2{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(../img/course.jpg);
}
/* ////////////////////////// FULL SCREEN SLIDE SHOW END //////////////////////////////// */

input:focus{	
	border:2px solid darkblue;
	outline: none;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: lightgrey;
  -webkit-text-fill-color: black;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    width: 500px;
    height: 45px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: none;
    background-color: lightgray;
}

.checkbox{
    margin-bottom: 10px;
    float: left;
}

div#container{
    width: 600px;
    margin: 0 auto;
    background: white;
    border-radius: 16px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 2em;
    display: block;
}

#formelements{
    min-width: 100%;
    padding: 0px;
    margin: 0 auto;
}

.formelement{
    font-family: Roboto;
    width: 80%;
    min-height: 25px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: none;
    background: lightgray;
}

.submit{
    background: #2000CC;
    color: white;
    width: 500px;
    height: 45px;
}

#welcomeMessage{
    font-size: 16pt;
    font-weight: 400;
}

.errorMsg{
    margin-bottom: 10px;
    color: red;
}

.eventModal{
    margin: 0 auto;
    display: inline-block;
    width: 250px;
    height: 150px;
    border-radius: 12px;
    font-size: 9pt;
    cursor: pointer;
    background-color:#514A9D;
}

#training{
    margin: 0 20px;
}

.dropdown{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

#description{
    resize: vertical;
    overflow: auto;
    min-height: 30px;
}

/* //////////////////////////////////////// INDEX STYLING END //////////////////////////////////////// */



/* ----------------------------------------EVENT CATALOGUE STYLING START ---------------------------------------- */


.event {
    height: auto;
}

.left {
    display: block;
    float: left;
}

.right {
    display: block;
    float: right;
}

#catalogueItems .event div {
    padding: 5px;
}

.container1 {
    width: 100%;
    left: 0%;
    right: 0%;
    /* padding-top: 80px; */
}

#eventCatalogueh1 {
    color:darkslategray;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 175%; 
}


.searchBarEC {
background-image: url('/css/searchicon.png'); /* Add a search icon to input */
background-position: 10px 12px; /* Position the search icon */
background-repeat: no-repeat; /* Do not repeat the icon image */
width: 100%; /* Full-width */
font-size: 16px; /* Increase font-size */
padding: 12px 20px 12px 40px; /* Add some padding */
border: 1px solid #ddd; /* Add a grey border */
margin-bottom: 12px; /* Add some space below the input */
}

#floatLeftEC {
    float:left;
    left: 0%;
    right: 0%;
    padding-top: 0%;
    width: 30%;
}

#catalogueItems {
    float: right;
    left: 0%;
    right: 0%;
    padding-top: 0%;
    width: 70%;
}

.event {
    border-style: solid;
    border-color: black;
    width: 50%;
    height: 200px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 20%;
    background-color: silver;
    align-content: center;
    padding-left: 2%;
}

.event #picture {
    width: 1vh;
    height: 1vh;
}

.event .capacity .status {
    height: 15px;
    width: 15px;
    background-color:yellow;
    border-radius: 50%;
    display: inline-block;
  }

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: yellow;
}

/* Style the collapsible content. Note: hidden by default */
#content {
  padding: 0;
  display: none;
  overflow: hidden;
  background-color: whitesmoke;
}

.checkboxCat {
  display: block;
}

/*slider*/

.slider {
  width: 75%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.event p {
    display: inline-block;
}

/* //////////////////////////////////////// EVENT CATALOGUE STYLING END //////////////////////////////////////// */





/* Tags Styling*/
/* :root {
    font-family: Arial, Helvetica, sans-serif;
}

.tags-input {
    border: 1px solid #333;
    display: inline-block;
}

.tags-input .tag {
    font-size: 85%;
    padding: 0.5em 0.75em;
    margin: 0.25em 0.1em;
    display: inline-block;
    background-color: #ddd;
    transition: all 0.1s linear;
    cursor: pointer;
}

.tags-input .tag:hover {
    background-color: #3af;
    color: white;
}

.tags-input .tag .close::after {
    content: '×';
    font-weight: bold;
    display: inline-block;
    transform: scale(1.4);
    margin-left: 0.75em;
}

.tags-input .tag .close:hover::after {
    color: red;
}

.tags-input .main-input {
    border: 0;
    outline: 0;
    padding: 0.5em 0.1em;
} */


/* navigate to folder
git pull
git status
git add <file> or *
git commit -m "message"
git push origin master

if code has been modified

than:
git pull
if zou open the file, zou will see the merge confilct and have to resolve it manually
git add *
git commit -m "message"
git push origin master */

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ USER PROFILE STYLING STARTS //////////////////////////////////////// */
#containerUser{
width: 600px;
margin: auto;
background: white;
border-top-left-radius: 16px;
border-top-right-radius: 16px;
box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
text-align: center;
padding: 2em;
display: block;
}
#containerAwards{
    width: 200px;
    float: right;
    background: white;
    border-radius: 16px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 2em;
    display: block;
    margin-right: 30px;
    margin-top: -320px;
}
#userAwardsTitle{
    margin-top: -20px;
    font-weight: 400;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\ Setting Icon Styleing Start  /////////////////////////// */
#settingsContainer {
    position: relative;
    float: right;
    margin-top: 1%;
    height: 7%;
    width: 7%;
}

#settingsImage {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  float: right;
  margin-top: 2%;
  margin-right: 10%;
  height: 100%;
  width: 100%;
}

#middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#settingsContainer:hover #settingsImage {
  opacity: 0.35;
  height: 50%;
  width: 50%;
}

#settingsContainer:hover #middle {
  opacity: 1;
}

#settingsText {
  
  color: rgba(0, 0, 0, 0.623);
  font-size: 10px;
  padding: 8px 8px;
  font-weight: 800;

}
/* ////////////////////////////  Setting Icon Styleing Ends, Profile Page cont. \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
 
/* this should activate text "Edit Settings" when hovered */
/* a:hover + #settingsArea {
    display: block;
} */
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\ USER PROFILE CARD STARTS ////////////////////////////////////////////// */
.avatar {
    vertical-align: middle;
    height: 10%;
    width: 10%;

}
.award {
    verticals-align: middle;
    height: 10%;
    width: 10%;

}
.profilePic{
    margin-left: 12%;
    height: 10%;
    width: 10%;

}
/* ////////////////////////////  USER PRFILE CARD ENDS, PROFILE PAGE CONT. \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
#containerBtnGroup{
    width: 665px;
    margin: 0 auto;
    background: #24C6DC;  /* fallback for old browsers */
    border-bottom-left-radius:16px ;
    border-bottom-right-radius: 16px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: block;
    margin-top: 1px;
    border: none;
    height: 40px;

}
.btn-group button{
    background: #012e70; /* Green background */
   
    color: snow; /* White text */
    padding: 20px; /* Some padding */
    width: 33.3%;/* stretch accross section */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    display:inline-block;
    height: 10px;
    border: none;
    margin:auto;
    

}
#upcomingEventsBtn{
    border-bottom-left-radius: 14px;
}
#interestsBtn{
    border-bottom-right-radius: 14px;
}
}
#userDisplayArea{
    text-align: center;
}
/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}
.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: rgb(0, 110, 255);
    font-size: 80%;
}
.userTabs{
    margin-top: 5%;
}
/* Display area for the current, past, and potential events for the user */
div.upcomingEvents {
    width: 100%;
    text-align: center;
    background-color: lightblue;
    margin-top: 0px;
    display:none;
}
div.pastEvents {
    width: 100%;
    text-align: center;
    background-color: lightgreen;
   	margin-top: 5px;
    display:none;
}
div.interests {
    width: 100%;
    text-align: center;
    background-color: lightpink;
   	margin-top: 5px;
    display:none;
} 

.userEvents{
    float:right;
    width:40%;
    font-size: 120%;
}
/* Table that is located at the top of the profile page */
#eventsTableTitle{
    font-size: 150%;
    font: bold;
    color: darkblue;
    text-align: center;
}
#userDisplayArea{

}
.userTabs{
    margin-top: 2%;
}
/*div styling setup*/
.event {
    position: relative;
    width: 95%;
    height: 100px;
    background-color:rgba(0, 0, 0, 0.15);
    margin: auto;
    margin-top: 5px;
    border-width: 0px;
} 

div.eventInfo{
    float:left;
    width: 25%;
    height: 40px;
    border: 3px solid rgb(255, 5, 5);
    margin-top: 10px;
    color: white;
    font-size: 50%;
}
.event .eventLink{
    float:right;
    margin-top: 5px;
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\  SEARCH BAR STYLING BEGINS //////////////////////////////////////// */  
#containerCreatedEvents{
    width: 200px;
    float: left;
    background: white;
    border-radius: 16px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1.5em;
    display: block;
    margin-left: 30px;
    margin-top: -320px;
}
#createdEventsTitle{
    margin-top: -20px;
    font-weight: 400;
}
#searchCreatedEvent {
    background-image: ;
    background-position: 100px;
    background-repeat: no-repeat;
    margin: auto;
    font-size: 16px;
    padding: 12px 20px 12px 15px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
  }
  
  #createdEventsList {
    list-style-type: none;
    padding: 12px 20px 12px 15px;
    margin: 0;
  }
  
  #createdEventsList li a {
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }
  
  #createdEventsList li a:hover:not(.header) {
    background-color: #eee;
  }
/* //////////////////////////////////////// SEARCH BAR STYLING ENDS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */  

/* //////////////////////////////////////// USER PROFILE STYLING END \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */



/* //////////////////////////////////////// USER PROFILE MNGR STYLING STARTS //////////////////////////////////////// */
section.section1{
    padding: 1em;
    width: 100%;
    min-height: 100vh;
    height: min-content;
    background: #24C6DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
section.section2{
    width: 100%;
    min-height: 100vh;
    height: min-content;
    background: #24C6DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
#subNavProfileMngr{
    width: 85%;
    margin: 0 auto;
    background: white;  /* fallback for old browsers */
    border-top-left-radius:16px ;
    border-top-right-radius: 16px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: block;
    border: none;
    height: 40px;

}
.subNavProfMang button{
    background: #012e70; /* Green background */
   
    color: snow; /* White text */
    padding: 20px; /* Some padding */
    width: 50%;/* stretch accross section */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    display:inline-block;
    height: 2em;
    border: none;
    margin:0 auto;
    top:0;
}
#editProfileTabBtn{
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
#editPasswordTabBtn{
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

form#userFormEdit1 {
    display:block;
}
#submit1{
    background: #2000CC;
    color: white;
    width: 500px;
    height: 45px;
}
form#userFormEdit2 {
    display:none;
} 
#submit2{
    background: #2000CC;
    color: white;
    width: 500px;
    height: 45px;
}
div#containerProfileMngr{
    width: 600px;
    margin: 0 auto;
    background: white;
    border-radius: 16px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: block;
}
div.dropdownProfileMngr{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
/* //////////////////////////////////////// USER PROFILE MNGR STYLING ENDS //////////////////////////////////////// */