body{
    font-family: Roboto;
    font-weight: 300;
    height: 100vh;
    background: #24C6DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

/* .regError{
    border: 1px solid red;
} */

input:focus{	
	border:2px solid darkblue;
	outline: none;
}

.checkbox{
    margin-bottom: 10px;
    float: left;
}

#container{
    width: 600px;
    margin: 90px auto;
    background: white;
    border-radius: 16px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 2em;
    display: block;
}

#formelements{
    min-width: 100%;
    padding: 0px;
    margin: 0 auto;
}

.formelement{
    font-family: Roboto;
    width: 80%;
    min-height: 25px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: none;
    background: lightgray;
}

#submit{
    background: #2000CC;
    color: white;
    width: 500px;
    height: 45px;
}

#welcomeMessage{
    font-size: 16pt;
    font-weight: 400;
}

.eventModal{
    margin: 0 auto;
    display: inline-block;
    width: 250px;
    height: 150px;
    border-radius: 12px;
    font-size: 9pt;
    cursor: pointer;
    background-color:#514A9D;
}

#training{
    margin: 0 20px;
}

.dropdown{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

#description{
    resize: vertical;
    overflow: auto;
    min-height: 30px;
}

/* Tags Styling*/
/* :root {
    font-family: Arial, Helvetica, sans-serif;
}

.tags-input {
    border: 1px solid #333;
    display: inline-block;
}

.tags-input .tag {
    font-size: 85%;
    padding: 0.5em 0.75em;
    margin: 0.25em 0.1em;
    display: inline-block;
    background-color: #ddd;
    transition: all 0.1s linear;
    cursor: pointer;
}

.tags-input .tag:hover {
    background-color: #3af;
    color: white;
}

.tags-input .tag .close::after {
    content: '×';
    font-weight: bold;
    display: inline-block;
    transform: scale(1.4);
    margin-left: 0.75em;
}

.tags-input .tag .close:hover::after {
    color: red;
}

.tags-input .main-input {
    border: 0;
    outline: 0;
    padding: 0.5em 0.1em;
} */


/* navigate to folder
git pull
git status
git add <file> or *
git commit -m "message"
git push origin master

if code has been modified

than:
git pull
if zou open the file, zou will see the merge confilct and have to resolve it manually
git add *
git commit -m "message"
git push origin master */